$("#new-comment-field").val('');
$("#comments-list").prepend($("<div id=<%= 'comment_' + @comment.id.to_s %> class='comment'><%= escape_javascript(render :partial => 'comment', :locals => {:object => @comment}) %></div>").hide().fadeIn(300));
