/* Additional styling */

/*           Font Smoothing      */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, a, .td-name, td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue","Open Sans",Arial,sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 400;
  margin: 30px 0 15px;
}

h1, .h1 {
  font-size: 52px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 28px;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 22px;
  line-height: 30px;
}

h5, .h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* General overwrite */
body {
  font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif;
}

a {
  color: #2ca8ff;
}
a:hover, a:focus {
  color: #109cff;
  text-decoration: none;
}
a:focus, a:active {
  outline: 0;
}

.fa {
  width: 18px;
  text-align: center;
}

/* Header */
.landing-page .navbar {
  border: 0;
  font-size: 16px;
}
.landing-page .navbar .navbar-brand {
  text-transform: uppercase;
  font-weight: 600;
  margin: 5px 0px;
  padding: 20px 15px;
  font-size: 20px;
}
.landing-page .navbar .navbar-nav > li > a {
  padding: 10px 15px;
  margin: 15px 0px;
  background-color: transparent;
}
.landing-page .navbar .navbar-nav > li > a [class^="fa"] {
  font-size: 19px;
  position: relative;
  top: 1px;
}
.landing-page .navbar-transparent .navbar-brand {
  color: white;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.landing-page .navbar-transparent .navbar-brand:focus,
.landing-page .navbar-transparent .navbar-brand:hover {
  background-color: transparent;
  opacity: 1;
  filter: alpha(opacity=90);
}
.landing-page .navbar-transparent .navbar-nav > li > a {
  color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.landing-page .navbar-transparent .navbar-nav > .active > a,
.landing-page .navbar-transparent .navbar-nav > .active > a:hover,
.landing-page .navbar-transparent .navbar-nav > .active > a:focus,
.landing-page .navbar-transparent .navbar-nav > li > a:hover,
.landing-page .navbar-transparent .navbar-nav > li > a:focus {
  color: white;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Footer */
.landing-page .footer {
  background-color: white;
  line-height: 20px;
}
.landing-page .footer hr {
  border-color: #dddddd;
}
.landing-page .footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
}
.landing-page .footer nav > ul a {
  color: #9a9a9a;
  display: block;
  margin-bottom: 3px;
  padding: 10px 0px;
  margin: 15px 10px 15px 0px;
}
.landing-page .footer nav > ul a:hover, .footer nav > ul a:focus {
  color: #777777;
  text-decoration: none;
}
.landing-page .footer nav > ul li {
  margin-right: 20px;
  float: left;
}
.landing-page .footer .social-area {
  padding: 15px 10px;
}
.landing-page .footer .social-area > a {
  color: #9a9a9a;
  display: inline-block;
  vertical-align: top;
  padding: 10px 5px;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
.landing-page .footer .social-area > a:hover, .footer .social-area > a:focus {
  color: #777777;
}
.landing-page .btn-facebook {
  color: #3b5998;
}
.landing-page .btn-twitter {
  color: #55acee;
}
.landing-page .btn-facebook:hover, .btn-twitter:hover {
  color: #777777;
}

/* Content */
.landing-page .container {
  max-width: 1170px;
}
.landing-page .navbar-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.landing-page .parallax {
  width: 100%;
  height: 630px;
  overflow: hidden;
  display: block;
  background-size: 100%;
}
.landing-page .parallax .container {
  z-index: 2;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.landing-page .parallax .parallax-background {
  position: relative;
  z-index: 1;
  width:100%;
  height: 100%;
}
.landing-page .parallax .parallax-background img {
  width: 100%;
  height: auto;
  position: relative;
}
.landing-page .parallax .parallax-image {
  width: 100%;
  margin: 0 auto;
  margin-top: 145px;
  float: right;
  text-align: center;
}
.landing-page .parallax .parallax-image img {
  height: auto;
  width: 100%;
}
.landing-page .parallax .description {
  margin-top: 123px;
  color: white;
  padding: 5px;
  position: relative;
}
.landing-page .parallax .description h2{
  text-shadow: 0 1px 5px rgba(0,0,0,0.2);
  font-weight: 200;
  font-size: 40px;
}

.landing-page .parallax .description h5 {
  line-height: 1.4;
  font-weight: 400;
  text-shadow: 0 1px 5px rgba(0,0,0,0.5);
  font-size: 18px;
}
.landing-page .parallax form {
  color: white;
}

.landing-page .footer {
  padding: 10px 0;
}

.filter-gradient {
  position: relative;
}
.filter-gradient:after {
  background-size: 2000px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  content: "";
  opacity: .3;
}
.filter-gradient.filter-color:after {
  background: rgba(54, 151, 142, 0.3) ; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #1e5799 0%, rgba(54, 151, 142, 0.1)  0%, #0C526C 100%, #3d7eaa 100%, #182848 100%, #6e48aa 100%, #6e48aa 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(0%,rgba(54, 151, 142, 0.1) ), color-stop(100%,#0C526C), color-stop(100%,#3d7eaa), color-stop(100%,#182848), color-stop(100%,#6e48aa), color-stop(100%,#6e48aa)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #1e5799 0%,rgba(54, 151, 142, 0.1)  0%,#0C526C 100%,#3d7eaa 100%,#182848 100%,#6e48aa 100%,#6e48aa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #1e5799 0%,rgba(54, 151, 142, 0.1)  0%,#0C526C 100%,#3d7eaa 100%,#182848 100%,#6e48aa 100%,#6e48aa 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #1e5799 0%,rgba(54, 151, 142, 0.1)  0%,#0C526C 100%,#3d7eaa 100%,#182848 100%,#6e48aa 100%,#6e48aa 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #1e5799 0%,rgba(54, 151, 142, 0.1)  0%,#0C526C 100%,#3d7eaa 100%,#182848 100%,#6e48aa 100%,#6e48aa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(54, 151, 142, 0.1) ', endColorstr='#6e48aa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.landing-page .section p{
  margin-top: 30px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 200;
}
.section {
  padding: 30px 0;
  position: relative;
  background-color: #FFFFFF;
}
.section-gray {
  background-color: #EEEEEE;
}
.landing-page .section-presentation {
  overflow: hidden;
  width: 100%;
  min-height: 600px;
  margin-top: 10px;
}
.landing-page .section-presentation img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 500px;
  margin-top: 23px;
}
.landing-page .section-presentation .description {
  padding: 10px 5px 0;
}
.landing-page .section-clients {
  padding: 50px 0;
}
.header-text {
  text-transform: uppercase;
  font-weight: 200;
  color: #333;
  margin-bottom: 20px;
  font-size: 30px;
  position: relative;
  line-height: 24px;
}
.landing-page .logos {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.landing-page .logos ul {
  display: block;
  width:100%;
  margin: 0px auto;
  padding-top: 48px;
}
.landing-page .logos li {
  display: inline-block;
  margin: 0 17px;
}

.landing-page .navbar {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.landing-alert {
  display: block;
  position: absolute;
  width: 100%;
  top: 80px;
  z-index: 1000;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,.2);
}

@media (max-width:768px){
    .fixed-plugin{
        top: 80px;
        right: 0px;
    }
    .main .container{
        margin-bottom: 50px;
    }
    #video_background{
        display: none;
    }
}

@media (max-width: 767px){
  .fixed-plugin{
    position: absolute;
  }
  .fixed-plugin .dropdown-menu{
    top: 0;
    width: 220px;
  }
  .nav > li{
    text-align: center;
  }
  .navbar-toggle .icon-bar{
    background: white;
    opacity: .7;
  }
  .navbar-toggle{
    padding: 16px 10px;
  }
  .logo-container .logo{
    margin-left: 20px;
  }
  .landing-page .wrapper{
    text-align: center;
  }
  .landing-page .navbar-top{
    background: rgba(0, 0, 0, 0.8);
  }
  .landing-page .parallax {
    height: 550px;
  }
  .landing-page .parallax .parallax-background img {
    width: auto;
    height: 100%;
  }
  .landing-page .parallax .description{
    margin-top: 65px;
  }
  .landing-page .logos li{
    display: block;
    margin-top: 10px;
  }
  .landing-page .logos ul{
    padding-top: 20px;
  }
  .landing-page .section-presentation{
    margin: 0;
  }
  .landing-page .section-presentation{
    height: auto;
  }
  .landing-page .carousel-indicators{
    bottom: -30px;
  }
  .landing-page .carousel{
    min-height: 210px;
  }
  .footer nav.pull-left, .footer:not(.footer-big) nav > ul li, .pull-right {
    float: none !important;
  }
}

@media (min-width: 768px){
    .landing-page .navbar-top{
        padding-top: 10px;
    }
}

/* Modal */
.landing-page .modal .modal-header {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}
.landing-page .modal .modal-footer {
  text-align: center;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
