<footer>
  <div class="">
    <p class="pull-right">Developed by <a>Smirnov Konstantin</a>. |
      <span class="lead"> <i class="fa fa-cloud"></i> SmiPlay Apps</span>
    </p>
  </div>
  <div class="clearfix"></div>
</footer>
