<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li class="current-page"><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a><i class="fa fa-calendar"></i> My Calendar</a></li>
      <li><a><i class="fa fa-comments-o"></i> My Conversations</a></li>
      <hr>
    </ul>
    <h3>Projects <i class="fa fa-plus pull-right add_item"></i></h3>
    <ul class="nav side-menu">
      <li><a>Project 1</a></li>
      <li><a>Project 2</a></li>
      <li><a>Project 3</a></li>
    </ul>
  </div>
</div>
