<ul>
  <li class=<%= "active" if controller?('app/tasks') %>><%= link_to "Tasks", app_project_tasks_path(@current_project) %></li>
  <li class=<%= "active" if controller?('app/updates') %>><%= link_to "Updates", app_project_updates_path(@current_project) %></li>
</ul>
