<ul>
  <li class=<%= "active" if controller?('app/tasks') %>><%= link_to "Tasks", app_project_tasks_path(@current_project) %></li>
  <li class=<%= "active" if controller?('app/statuses') %>><%= link_to "Statuses", app_project_statuses_path(@current_project) %></li>
</ul>
