<li>
  <a>Tasks</a>
</li>
<li>
  <a>Coworkers</a> <!-- Participants will be showed hre automatically based on people assigned in tasks -->
</li>
<li>
  <a>Conversations</a>
</li>
<li>
  <a>Calendar</a>
</li>
<li>
  <a>Progress</a>
</li>
<li>
  <a>Files</a>
</li>
