<div class="row">
  <div class="col-sm-12">
    <div class="project-heading">
      <h3 class="text-center">
        <%= @current_project.title %>
      </h3>
    </div>
    <div class="project-settings">
      <h3>
        <%= link_to edit_app_project_path(@current_project) do %>
          <i class="fa fa-cog pull-right"></i>
        <% end %>
        <a><i class="fa fa-question-circle pull-right" data-toggle="modal" data-target="#project_description_modal"></i></a>
      </h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading custom-tabs">
        <ul>
          <li class="active"><a>Tasks</a></li>
          <li><a>Team</a></li>
          <li><a>Calendar</a></li>
          <li><a>Status</a></li>
          <li><a>Files</a></li>
        </ul>
      </div>
      <div class="panel-body">
        there is some text
      </div>
    </div>
  </div>
</div>

<!-- Project info modal -->
<div class="modal fade" id="project_description_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Project description</h4>
      </div>
      <div class="modal-body">
        <p><%=@current_project.description %></p>
      </div>
    </div>
  </div>
</div>
