<ul>
  <li class=<%= "active" if controller?('projects/tasks') %>><%= link_to "Tasks", project_tasks_path(@current_project) %></li>
  <li class=<%= "active" if controller?('projects/statuses') %>><%= link_to "Statuses", project_statuses_path(@current_project) %></li>
</ul>
