<div class="panel panel-default">
  <div class="panel-body task-details">
    <h3><%= object.title %></h3>
  </div>
  <ul>
    <li>Description</li>
    <li>Subtasks</li>
    <li>comments, files, history</li>
  </ul>
</div>
