<%= render 'app/projects/project_header' %>


<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading custom-tabs">
        <%= render 'app/projects/project_navtabs' %>
      </div>
      <div class="panel-body">
        <p>This is tasks index view</p>
      </div>
    </div>
  </div>
</div>
